# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6
print(number)

elephant = 7
print(elephant)
x = 5
y = 2

6
7

##### Assinging float

In [3]:
#float = any number with a decimal
num_Float = 2.3

print(num_Float)

2.3

#### Performing Calculations on ints and floats

##### Addition

In [4]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

# Short-hand version 
result += 2 # result = result + 2
print(result)

7.4
9.4

##### Subtraction

In [8]:
num1 = 7
num2 = 10
result_diff = num1 - num2
print(result_diff)

# Short-hand version 
result_diff -= 1
print(result_diff)

-3
-4

##### Multiplication

In [6]:
result_prod = num1 * num2
print(result_prod)

#short-hand
result_prod *= 2
print(result_prod)

70
140

##### Division

In [12]:
num3 = 20
num4 = 5
result_dividend = 2
print(result_dividend)

#short-hand version
result_dividend /= 2
print(result_dividend)
int(result_dividend)

2
1.0

1

##### Floor Division

In [14]:
num5 = 15
num6 = 7
result_floor = num5 // num6
print (result_floor)

# my_list = [1, 2, 3, 4, 5]

# list_length = len(my_list)
# print(list_length) // 2
     
# list_floored

# if len(list) % 2 == 0

2

##### Modulo

In [16]:
num1 = 11
num2 = 2
remainder = num1 % num2
print(remainder)

num3 = 10
num4 = 2

remainder2 = num3 % num4
print(remainder2)

if num3 % 2 == 0

SyntaxError: invalid syntax (3374797780.py, line 12)

##### Exponential

In [17]:
square = 5 ** 2
print(square)

#short-hand version
square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [18]:
name = "Cassandra"
print(name)

Cassandra

##### print() <br>
<p>Don't forget about end=' '</p>

In [21]:
print("This is my first name: ", name)
print("Full Name: ", name, end="Beattie")

This is my first name:  Cassandra
Full Name:  CassandraBeattie

##### String Concatenation

In [27]:
first_name = "Luke"
last_name = "Skywalker"

full_name = first_name + " " + last_name
print(full_name)

# Short-hand version
full_name += " Jedi Knight "
print(full_name)

Luke Skywalker
Luke Skywalker Jedi Knight

##### Type Conversion

In [ ]:
number = "32"
name = "10"
print(int(name))

##### input()

In [28]:
#input will always return a string -- all the time -- forever and ever

# name = input('What is your name? ')
# color = input('What is your favorite color? ')
# quest = input('What is your quest? ')

# print(name)

age = int(input("What is your age?: "))

add_age = age + 1

print(add_age)
print(type(age))

What is your age?: 24
25
<class 'int'>

##### format()

In [29]:
age = input("What is your age? ")
name = input("What is your name? ")

result_string = "You are {} {} and you are getting wiser!".format(age,name)
print(result_string)

What is your age? 24
What is your name? cassie
You are 24 cassie and you are getting wiser!

In [30]:
result_again = f"{age} is a great time in life!!!"
print(result_again)

24 is a great time in life!!!

##### Old Way (python 2)

In [33]:
result_string2 = "You are %s and you" and you look great for your age!" %age
print(result_string2)

SyntaxError: invalid syntax (4292656799.py, line 1)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [34]:
color = input("What is the color?")
year = input("What is the year?")
make = input("What is the make? ") 
model = input("What is the model? ")


result_string = "My car is a {} {} {} {} and it kindly takes me to Aldi sometimes." .format(color, year, make, model)
print(result_string)

What is the color?green
What is the year?2011
What is the make? bmw
What is the model? x5
My car is a green 2011 bmw x5 and it kindly takes me to Aldi sometimes.

### If Statements

In [35]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10

if num2 == num1:
    print('Equal Values')
else:
    print("Not Equal")
    
if num2 >= num1:
    print("Num2 is greater")
elif num1 <= num2:
    print("Num1 is less than")

Not Equal
Num2 is greater

##### 'is' keyword

In [39]:
# use the "is" keyword when checking for same/similar object, NOT same value
num3 = 55

# if num3 is 55:
#    print("This is the exact number/object")

num4 = 3

print(num3)
print(num4)

if num3 is num3:
    print("num4 is num3")
    
num3 = 50
print(num3)
print(num4)

55
3
num4 is num3
50
3

##### 'in' keyword

In [37]:
# Checking for membership in an interable
char_name = "Boba Fett"

if "Boba" in char_name:
    print("Oh No, the sarlaac...")
    
if "o" in char_name:
    print("There is an O...")

my_list = [1, 2, 3, 4, 5]
my_list2 = [1, 3, 5, 7, 9]

if 1 in my_list:
    print("YAY A 1")
    
for x in my_list2:

The Character who lost everything...

##### 'not in' keyword'

In [41]:
sega_char = "Sonic"

if 'a' not in sega_char:
    print("This is Sonic, not Sonic...")
else:
    print("Gotta go fast")

This is Sonic, not Sonic...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [43]:
message = input("Enter a message! ")
if "p" in message:
    print("There's a p!")
else:
    print("There's no p.")

Enter a message! hey
There's no p.

In [42]:
favorite_char = input("What is your favorite tv character? ")

if 'p' in favorite_char:
    print("The letter p is in your answer")
else:
    print("There is no letter p in your answer")

What is your favorite tv character? sonic
There is no letter p in your answer

## Using 'and'/'or' with If Statements

In [46]:
# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num_1 = 15
num_2 = 3
num_3 = 10
num_4 = 3

# If with and
if num_1 / 5 == num_2 and num_3 - 7 == num_4:
    print("True and True")
    print(True)
    
# If with or
if num_1 > num_2 or num_3 == num_4:
    print("True and False")
    print("true")
else:
     print(False)

True and True
True
True and False
true

### Elif Statements

In [47]:
first_name = "Cassie"
another_name = "Cheetor"

if first_name == "Smith":
    print("The name is Smith")
elif first_name != 'Max':
    print("The name is NOT Max")
else:
    print("The name is Max")

The name is NOT Max

### Else Statements

In [48]:
# see above

### For Loops

In [49]:
# for keyword, counter, in keyword, condition

# for i in range(10):
#     print(i)
    
name = "Cassandra Beattie"

for letter in name:
    print(letter)
    
for i in range(len(name)):
    print(name[i])

C
a
s
s
a
n
d
r
a

B
e
a
t
t
i
e
C
a
s
s
a
n
d
r
a

B
e
a
t
t
i
e

##### Using 'in' keyword

In [50]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [51]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [52]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [53]:
name = "Mega Man"
for i in name:
    pass # TODO: COME BACK AND FINISH IMPLEMENTATION

##### Double For Loops

In [57]:
my_list = [1, 2, 3, 4, 5, 6]
my_list2 = [7, 8, 9, 10, 11, 12]

# for i in range(5):
#   for j in range(5):
#      print("i = ", i, "j = ", j)

for i in range(5):
    print(i)
    for j in range(5):
        print(i)
        print("i = ", i, "j = ", j)

0
0
i =  0 j =  0
0
i =  0 j =  1
0
i =  0 j =  2
0
i =  0 j =  3
0
i =  0 j =  4
1
1
i =  1 j =  0
1
i =  1 j =  1
1
i =  1 j =  2
1
i =  1 j =  3
1
i =  1 j =  4
2
2
i =  2 j =  0
2
i =  2 j =  1
2
i =  2 j =  2
2
i =  2 j =  3
2
i =  2 j =  4
3
3
i =  3 j =  0
3
i =  3 j =  1
3
i =  3 j =  2
3
i =  3 j =  3
3
i =  3 j =  4
4
4
i =  4 j =  0
4
i =  4 j =  1
4
i =  4 j =  2
4
i =  4 j =  3
4
i =  4 j =  4

### While Loops

In [58]:
# while keyword, condition statement
# based on the conditional Statement

num = 0
while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [59]:
game_over = False

while True:
    print("Infinite Loop")
    if game_over == False:
        break

Infinite Loop

##### While & For Loops Used Together

In [60]:
num = 0

while num < 5:
    print("\n While Loop Iteration: " + str(num))
    
    for i in range(2):
        print("For Loop Iteration: ", str(i))
        
    num += 1

 While Loop Iteration: 0
For Loop Iteration:  0
For Loop Iteration:  1

 While Loop Iteration: 1
For Loop Iteration:  0
For Loop Iteration:  1

 While Loop Iteration: 2
For Loop Iteration:  0
For Loop Iteration:  1

 While Loop Iteration: 3
For Loop Iteration:  0
For Loop Iteration:  1

 While Loop Iteration: 4
For Loop Iteration:  0
For Loop Iteration:  1

### Built-In Functions

##### range()

In [62]:
#Start, Stop, Step

#for i in range(1, 100, 2):
#   print(i)

for i in range(0, 20, 2):
    print(i)

0
2
4
6
8
10
12
14
16
18

##### len()

In [63]:
# check Length of variable
name = "Max "

length = len(name)
print(length)

4

##### help()

In [64]:
# Use this function to view more info about a python function (With a DOCSTRING)
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [65]:
# Check a variable to find out what Object family it belongs to
# isinstace(var, type)

num = 4.5
print(isinstance(num, float))

if isinstance(4.5,float):
    print("This number is a float type")
else:
    print

True
This number is a float type

##### abs()

In [66]:
# | 5 |

print(abs(-5)) #<-- really neat way to turn a negative into a positive

print(abs(10))

5
10

### Try and Except

In [ ]:
# use whenever you expect to encounter a bug so that the error doesn't cause the program to stop
# Use so that you can log out graceful and useful error messages

try:
    number_test = 0
    input_num = int(input('Guess a Number'))
    if input_num != number_test:
        input_num = input_num + number_test
        print("Your Number is: " + str(input_num))
except:
    print('That did not work ---- ERROR: Change your input to a number')

### Lists

##### Declaring Lists

In [67]:
l_1 = [] # Empty List Declaration

names = ['Cassie','Misty','Brock', "Gary","Nate"]

print(names)

['Cassie', 'Misty', 'Brock', 'Gary', 'Nate']

##### Indexing a List

In [68]:
# [start: stop: step] -- [-1]

#Single Index
print(names[0])

# Print starting at index 1 going to the end
print(names[1:])

#Print starting at beginning of list to N (n == the number we want to stop at)
print(names[:2])

# print starting at index 1 going up BY 2 in each iteration
print(names[1::2])

# print starting at the back and present in reverse order
print(names[::-1])

Cassie
['Misty', 'Brock', 'Gary', 'Nate']
['Cassie', 'Misty']
['Misty', 'Gary']
['Nate', 'Gary', 'Brock', 'Misty', 'Cassie']

In [69]:
names = ['Cassie','Misty','Brock', "Gary","Nate"]

names.append('Professor Oak')
print(names)

['Cassie', 'Misty', 'Brock', 'Gary', 'Nate', 'Professor Oak']

##### .insert()

In [70]:
# list.insert(index,value)
names.insert(2,"Officer Jenny")
print(names)

['Cassie', 'Misty', 'Officer Jenny', 'Brock', 'Gary', 'Nate', 'Professor Oak']

##### .pop()

In [71]:
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable

# my_name = names.pop()
# print(my_name)

print(names.pop(2))
print(names)

Officer Jenny
['Cassie', 'Misty', 'Brock', 'Gary', 'Nate', 'Professor Oak']


##### .remove()

In [72]:
# value to be removed , not index
# list.remove("Bob")

new_names= ["Ryan", "Alex"]

# new_names.remove = ("Ryan")
# print(new_name)

# remove multiple bobs out of list
while 'bob' in names:
    names.remove('bob')
print(names)

['Cassie', 'Misty', 'Brock', 'Gary', 'Nate', 'Professor Oak']

##### del()

In [73]:
# index to be removed, not value
# BE CAREFUL with del, can cause indexing errors if not used carefully
del(names[1])
print(names)

['Cassie', 'Brock', 'Gary', 'Nate', 'Professor Oak']

##### Concatenating Two Lists

In [74]:
# will append two lists together, not add up the elements in each list

l_2 = [0,1,2]
l_3 = [3,4,5]

large_list = l_2 + l_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [75]:
# Lists are able to hold any type of element, including OTHER lists themsevles
# they can also go as deep as you want, having many lists nested inside of each other

names = ["Max", "Sam","Josh",["Sally","Sue","Tameka"]]

print(names)
print(names[3][1])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka']]
Sue

##### Looping Through Lists

In [76]:
# two ways to loop through a list, one is by index, the other is by using the 'in' keyword

# Loop with a for loop (By Index)
for i in range(len(names)):
    print(names[i])
    
# Loop with a for loop (Using the 'in' keyword)
for i in names:
    print(i)

Max
Sam
Josh
['Sally', 'Sue', 'Tameka']
Max
Sam
Josh
['Sally', 'Sue', 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [82]:
for i in range(1, 1000):
    print(i, i * i * i)
else:
    ('Loop ended if, i > 1000')

1 1
2 8
3 27
4 64
5 125
6 216
7 343
8 512
9 729
10 1000
11 1331
12 1728
13 2197
14 2744
15 3375
16 4096
17 4913
18 5832
19 6859
20 8000
21 9261
22 10648
23 12167
24 13824
25 15625
26 17576
27 19683
28 21952
29 24389
30 27000
31 29791
32 32768
33 35937
34 39304
35 42875
36 46656
37 50653
38 54872
39 59319
40 64000
41 68921
42 74088
43 79507
44 85184
45 91125
46 97336
47 103823
48 110592
49 117649
50 125000
51 132651
52 140608
53 148877
54 157464
55 166375
56 175616
57 185193
58 195112
59 205379
60 216000
61 226981
62 238328
63 250047
64 262144
65 274625
66 287496
67 300763
68 314432
69 328509
70 343000
71 357911
72 373248
73 389017
74 405224
75 421875
76 438976
77 456533
78 474552
79 493039
80 512000
81 531441
82 551368
83 571787
84 592704
85 614125
86 636056
87 658503
88 681472
89 704969
90 729000
91 753571
92 778688
93 804357
94 830584
95 857375
96 884736
97 912673
98 941192
99 970299
100 1000000
101 1030301
102 1061208
103 1092727
104 1124864
105 1157625
106 1191016
107 1225043
108 1259712
109 1295029
110 1331000
111 1367631
112 1404928
113 1442897
114 1481544
115 1520875
116 1560896
117 1601613
118 1643032
119 1685159
120 1728000
121 1771561
122 1815848
123 1860867
124 1906624
125 1953125
126 2000376
127 2048383
128 2097152
129 2146689
130 2197000
131 2248091
132 2299968
133 2352637
134 2406104
135 2460375
136 2515456
137 2571353
138 2628072
139 2685619
140 2744000
141 2803221
142 2863288
143 2924207
144 2985984
145 3048625
146 3112136
147 3176523
148 3241792
149 3307949
150 3375000
151 3442951
152 3511808
153 3581577
154 3652264
155 3723875
156 3796416
157 3869893
158 3944312
159 4019679
160 4096000
161 4173281
162 4251528
163 4330747
164 4410944
165 4492125
166 4574296
167 4657463
168 4741632
169 4826809
170 4913000
171 5000211
172 5088448
173 5177717
174 5268024
175 5359375
176 5451776
177 5545233
178 5639752
179 5735339
180 5832000
181 5929741
182 6028568
183 6128487
184 6229504
185 6331625
186 6434856
187 6539203
188 6644672
189 6751269
190 6859000
191 6967871
192 7077888
193 7189057
194 7301384
195 7414875
196 7529536
197 7645373
198 7762392
199 7880599
200 8000000
201 8120601
202 8242408
203 8365427
204 8489664
205 8615125
206 8741816
207 8869743
208 8998912
209 9129329
210 9261000
211 9393931
212 9528128
213 9663597
214 9800344
215 9938375
216 10077696
217 10218313
218 10360232
219 10503459
220 10648000
221 10793861
222 10941048
223 11089567
224 11239424
225 11390625
226 11543176
227 11697083
228 11852352
229 12008989
230 12167000
231 12326391
232 12487168
233 12649337
234 12812904
235 12977875
236 13144256
237 13312053
238 13481272
239 13651919
240 13824000
241 13997521
242 14172488
243 14348907
244 14526784
245 14706125
246 14886936
247 15069223
248 15252992
249 15438249
250 15625000
251 15813251
252 16003008
253 16194277
254 16387064
255 16581375
256 16777216
257 16974593
258 17173512
259 17373979
260 17576000
261 17779581
262 17984728
263 18191447
264 18399744
265 18609625
266 18821096
267 19034163
268 19248832
269 19465109
270 19683000
271 19902511
272 20123648
273 20346417
274 20570824
275 20796875
276 21024576
277 21253933
278 21484952
279 21717639
280 21952000
281 22188041
282 22425768
283 22665187
284 22906304
285 23149125
286 23393656
287 23639903
288 23887872
289 24137569
290 24389000
291 24642171
292 24897088
293 25153757
294 25412184
295 25672375
296 25934336
297 26198073
298 26463592
299 26730899
300 27000000
301 27270901
302 27543608
303 27818127
304 28094464
305 28372625
306 28652616
307 28934443
308 29218112
309 29503629
310 29791000
311 30080231
312 30371328
313 30664297
314 30959144
315 31255875
316 31554496
317 31855013
318 32157432
319 32461759
320 32768000
321 33076161
322 33386248
323 33698267
324 34012224
325 34328125
326 34645976
327 34965783
328 35287552
329 35611289
330 35937000
331 36264691
332 36594368
333 36926037
334 37259704
335 37595375
336 37933056
337 38272753
338 38614472
339 38958219
340 39304000
341 39651821
342 40001688
343 40353607
344 40707584
345 41063625
346 41421736
347 41781923
348 42144192
349 42508549
350 42875000
351 43243551
352 43614208
353 43986977
354 44361864
355 44738875
356 45118016
357 45499293
358 45882712
359 46268279
360 46656000
361 47045881
362 47437928
363 47832147
364 48228544
365 48627125
366 49027896
367 49430863
368 49836032
369 50243409
370 50653000
371 51064811
372 51478848
373 51895117
374 52313624
375 52734375
376 53157376
377 53582633
378 54010152
379 54439939
380 54872000
381 55306341
382 55742968
383 56181887
384 56623104
385 57066625
386 57512456
387 57960603
388 58411072
389 58863869
390 59319000
391 59776471
392 60236288
393 60698457
394 61162984
395 61629875
396 62099136
397 62570773
398 63044792
399 63521199
400 64000000
401 64481201
402 64964808
403 65450827
404 65939264
405 66430125
406 66923416
407 67419143
408 67917312
409 68417929
410 68921000
411 69426531
412 69934528
413 70444997
414 70957944
415 71473375
416 71991296
417 72511713
418 73034632
419 73560059
420 74088000
421 74618461
422 75151448
423 75686967
424 76225024
425 76765625
426 77308776
427 77854483
428 78402752
429 78953589
430 79507000
431 80062991
432 80621568
433 81182737
434 81746504
435 82312875
436 82881856
437 83453453
438 84027672
439 84604519
440 85184000
441 85766121
442 86350888
443 86938307
444 87528384
445 88121125
446 88716536
447 89314623
448 89915392
449 90518849
450 91125000
451 91733851
452 92345408
453 92959677
454 93576664
455 94196375
456 94818816
457 95443993
458 96071912
459 96702579
460 97336000
461 97972181
462 98611128
463 99252847
464 99897344
465 100544625
466 101194696
467 101847563
468 102503232
469 103161709
470 103823000
471 104487111
472 105154048
473 105823817
474 106496424
475 107171875
476 107850176
477 108531333
478 109215352
479 109902239
480 110592000
481 111284641
482 111980168
483 112678587
484 113379904
485 114084125
486 114791256
487 115501303
488 116214272
489 116930169
490 117649000
491 118370771
492 119095488
493 119823157
494 120553784
495 121287375
496 122023936
497 122763473
498 123505992
499 124251499
500 125000000
501 125751501
502 126506008
503 127263527
504 128024064
505 128787625
506 129554216
507 130323843
508 131096512
509 131872229
510 132651000
511 133432831
512 134217728
513 135005697
514 135796744
515 136590875
516 137388096
517 138188413
518 138991832
519 139798359
520 140608000
521 141420761
522 142236648
523 143055667
524 143877824
525 144703125
526 145531576
527 146363183
528 147197952
529 148035889
530 148877000
531 149721291
532 150568768
533 151419437
534 152273304
535 153130375
536 153990656
537 154854153
538 155720872
539 156590819
540 157464000
541 158340421
542 159220088
543 160103007
544 160989184
545 161878625
546 162771336
547 163667323
548 164566592
549 165469149
550 166375000
551 167284151
552 168196608
553 169112377
554 170031464
555 170953875
556 171879616
557 172808693
558 173741112
559 174676879
560 175616000
561 176558481
562 177504328
563 178453547
564 179406144
565 180362125
566 181321496
567 182284263
568 183250432
569 184220009
570 185193000
571 186169411
572 187149248
573 188132517
574 189119224
575 190109375
576 191102976
577 192100033
578 193100552
579 194104539
580 195112000
581 196122941
582 197137368
583 198155287
584 199176704
585 200201625
586 201230056
587 202262003
588 203297472
589 204336469
590 205379000
591 206425071
592 207474688
593 208527857
594 209584584
595 210644875
596 211708736
597 212776173
598 213847192
599 214921799
600 216000000
601 217081801
602 218167208
603 219256227
604 220348864
605 221445125
606 222545016
607 223648543
608 224755712
609 225866529
610 226981000
611 228099131
612 229220928
613 230346397
614 231475544
615 232608375
616 233744896
617 234885113
618 236029032
619 237176659
620 238328000
621 239483061
622 240641848
623 241804367
624 242970624
625 244140625
626 245314376
627 246491883
628 247673152
629 248858189
630 250047000
631 251239591
632 252435968
633 253636137
634 254840104
635 256047875
636 257259456
637 258474853
638 259694072
639 260917119
640 262144000
641 263374721
642 264609288
643 265847707
644 267089984
645 268336125
646 269586136
647 270840023
648 272097792
649 273359449
650 274625000
651 275894451
652 277167808
653 278445077
654 279726264
655 281011375
656 282300416
657 283593393
658 284890312
659 286191179
660 287496000
661 288804781
662 290117528
663 291434247
664 292754944
665 294079625
666 295408296
667 296740963
668 298077632
669 299418309
670 300763000
671 302111711
672 303464448
673 304821217
674 306182024
675 307546875
676 308915776
677 310288733
678 311665752
679 313046839
680 314432000
681 315821241
682 317214568
683 318611987
684 320013504
685 321419125
686 322828856
687 324242703
688 325660672
689 327082769
690 328509000
691 329939371
692 331373888
693 332812557
694 334255384
695 335702375
696 337153536
697 338608873
698 340068392
699 341532099
700 343000000
701 344472101
702 345948408
703 347428927
704 348913664
705 350402625
706 351895816
707 353393243
708 354894912
709 356400829
710 357911000
711 359425431
712 360944128
713 362467097
714 363994344
715 365525875
716 367061696
717 368601813
718 370146232
719 371694959
720 373248000
721 374805361
722 376367048
723 377933067
724 379503424
725 381078125
726 382657176
727 384240583
728 385828352
729 387420489
730 389017000
731 390617891
732 392223168
733 393832837
734 395446904
735 397065375
736 398688256
737 400315553
738 401947272
739 403583419
740 405224000
741 406869021
742 408518488
743 410172407
744 411830784
745 413493625
746 415160936
747 416832723
748 418508992
749 420189749
750 421875000
751 423564751
752 425259008
753 426957777
754 428661064
755 430368875
756 432081216
757 433798093
758 435519512
759 437245479
760 438976000
761 440711081
762 442450728
763 444194947
764 445943744
765 447697125
766 449455096
767 451217663
768 452984832
769 454756609
770 456533000
771 458314011
772 460099648
773 461889917
774 463684824
775 465484375
776 467288576
777 469097433
778 470910952
779 472729139
780 474552000
781 476379541
782 478211768
783 480048687
784 481890304
785 483736625
786 485587656
787 487443403
788 489303872
789 491169069
790 493039000
791 494913671
792 496793088
793 498677257
794 500566184
795 502459875
796 504358336
797 506261573
798 508169592
799 510082399
800 512000000
801 513922401
802 515849608
803 517781627
804 519718464
805 521660125
806 523606616
807 525557943
808 527514112
809 529475129
810 531441000
811 533411731
812 535387328
813 537367797
814 539353144
815 541343375
816 543338496
817 545338513
818 547343432
819 549353259
820 551368000
821 553387661
822 555412248
823 557441767
824 559476224
825 561515625
826 563559976
827 565609283
828 567663552
829 569722789
830 571787000
831 573856191
832 575930368
833 578009537
834 580093704
835 582182875
836 584277056
837 586376253
838 588480472
839 590589719
840 592704000
841 594823321
842 596947688
843 599077107
844 601211584
845 603351125
846 605495736
847 607645423
848 609800192
849 611960049
850 614125000
851 616295051
852 618470208
853 620650477
854 622835864
855 625026375
856 627222016
857 629422793
858 631628712
859 633839779
860 636056000
861 638277381
862 640503928
863 642735647
864 644972544
865 647214625
866 649461896
867 651714363
868 653972032
869 656234909
870 658503000
871 660776311
872 663054848
873 665338617
874 667627624
875 669921875
876 672221376
877 674526133
878 676836152
879 679151439
880 681472000
881 683797841
882 686128968
883 688465387
884 690807104
885 693154125
886 695506456
887 697864103
888 700227072
889 702595369
890 704969000
891 707347971
892 709732288
893 712121957
894 714516984
895 716917375
896 719323136
897 721734273
898 724150792
899 726572699
900 729000000
901 731432701
902 733870808
903 736314327
904 738763264
905 741217625
906 743677416
907 746142643
908 748613312
909 751089429
910 753571000
911 756058031
912 758550528
913 761048497
914 763551944
915 766060875
916 768575296
917 771095213
918 773620632
919 776151559
920 778688000
921 781229961
922 783777448
923 786330467
924 788889024
925 791453125
926 794022776
927 796597983
928 799178752
929 801765089
930 804357000
931 806954491
932 809557568
933 812166237
934 814780504
935 817400375
936 820025856
937 822656953
938 825293672
939 827936019
940 830584000
941 833237621
942 835896888
943 838561807
944 841232384
945 843908625
946 846590536
947 849278123
948 851971392
949 854670349
950 857375000
951 860085351
952 862801408
953 865523177
954 868250664
955 870983875
956 873722816
957 876467493
958 879217912
959 881974079
960 884736000
961 887503681
962 890277128
963 893056347
964 895841344
965 898632125
966 901428696
967 904231063
968 907039232
969 909853209
970 912673000
971 915498611
972 918330048
973 921167317
974 924010424
975 926859375
976 929714176
977 932574833
978 935441352
979 938313739
980 941192000
981 944076141
982 946966168
983 949862087
984 952763904
985 955671625
986 958585256
987 961504803
988 964430272
989 967361669
990 970299000
991 973242271
992 976191488
993 979146657
994 982107784
995 985074875
996 988047936
997 991026973
998 994011992
999 997002999

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [84]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

n = 100

print("All prime numbers upto " + str(n) + " are: ", end='')
for i in range(2, n + 1): 
    prime = True
    for j in range(2, i):
        if i % j == 0:
            prime = False
    if prime:
        print(i, end=' ')

print()

All prime numbers upto 100 are: 2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [ ]:
age = int(input('Please enter a users age.'))
if age < 18: print('The user is an kid.')
if age <= 18 and age > 65: print('The person is an adult.')
if age >= 66: print('The user is a senior.')